@font-face {
  font-family: Barlow;
  src: url("../fonts/Barlow/Barlow-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

span,
p,
h1,
h2,
h3,
h4,
button {
  font-family: Barlow !important;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  margin: 0 !important;
  padding: 0 !important;
}

.navbar {
  padding-left: 2rem;
  padding-right: 2rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #000 !important;
}

.product-card:nth-child(1) {
  z-index: 999;
  position: absolute;
}

.product-card:nth-child(2) {
  position: absolute;
  margin-top: 10rem;
  margin-right: 16rem;
}

.product-card:nth-child(3) {
  margin-top: 12.5rem;
  margin-left: 15rem;
}

.form-control {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid #03ffa5 !important;
}

.form-control::placeholder {
  color: #fff !important;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

.input-group-text {
  background-color: transparent !important;
  color: #03ffa5 !important;
  text-transform: uppercase !important;
  border: none !important;
  border-bottom: 1px solid #03ffa5 !important;
  cursor: pointer;
}
